<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712793899361-1to08vfj1hk39bv7tc1lji5k5ciad3lt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712793899361-1to08vfj1hk39bv7tc1lji5k5ciad3lt</string>
	<key>API_KEY</key>
	<string>AIzaSyCiCPYRk5gzVOrGo0R602bHqowOiUajeL0</string>
	<key>GCM_SENDER_ID</key>
	<string>712793899361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UncommonInc.SwearBy</string>
	<key>PROJECT_ID</key>
	<string>swearby-app</string>
	<key>STORAGE_BUCKET</key>
	<string>swearby-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712793899361:ios:02b5a1ed6f4227d87b0520</string>
</dict>
</plist>